<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#/homepage">
                    MovieFlix
                </a>
            </li>
            <li>
                <a href="#/popular">Popular</a>
            </li>
            <li>
                <a href="#/movies">Movies</a>
            </li>
            <li>
                <a href="#/tvseries">Tv Series</a>
            </li>
            <li>
                <a href="#/contact">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

</div>
<!-- /#wrapper -->